{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<nav id="nav" class="bg-dark px-2 py-1 inline d-flex flex-row">
  <a class="navbar-brand text-white" href="#">Letter List</a>
  <div id="separator"></div>
  <a href="letterlista@aol.com" id="mail" class="text-white mx-2">Email Me!</a>
  <div class="text-white" id="navbarSupportedContent">
  
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}" class="w-25 h-100">
      {% csrf_token %}
      <button class="btn btn-outline-light h-100 p-0 px-1 py-2 rounded" type="submit">Logout</button>
    </form>
    {% endif %}
  </div>
</nav>
<div class="d-flex flex-row h-100 border-end border-3 border-dark">
    <div class="p-2 w-50 h-100" style="overflow: scroll;">
        <h1>Posts</h1>
        {% if user.is_staff %}
        <p>Hi there, {{ request.user }}.</p>
        <form method="post" class="border w-100 p-3 w-50">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
        {% endif %}
        {% for post in posts %}
            <div class="d-flex flex-row flex-inline">
              <h4>-- <a href="../home/{{ post.id }}">{{ post.title }}</a></h4>
              <p class="text-success px-2" id="smol">< {{ post.author }} ></p></div>
        {% endfor %}
    </div>
    <div class="w-50 m-1 h-100 border-start border-3 border-dark">
        {% if post %}
        <iframe class ="h-100 w-100" src="../view/{{post.id}}"></iframe>
        {% else %}
        <iframe class ="h-100 w-100" src="../view/1"></iframe>
        {% endif %}
    </div>
</div>

{% endblock content %}
