{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<nav id="nav" class="px-2 py-1 inline d-flex flex-row">
  <a class="navbar-brand" href="#">Letter List</a>
  <div id="separator"></div>
  <a href="mailto:letterlista@aol.com" id="mail" class="mx-2">Email Me!</a>
  <div class="text-white" id="navbarSupportedContent">
  
    {% if user.is_authenticated %}
    <form method="POST" id="smol" action="{% url 'logout' %}" class="w-25 h-100">
      {% csrf_token %}
      <button id="button" type="submit">Logout</button>
    </form>
    {% endif %}
  </div>
</nav>
<div class="d-flex flex-row h-100">
    <div class="p-2 w-50 h-100" style="overflow: scroll;">
        <h1>Posts</h1>
        {% if user.is_staff %}
        <p>Hi there, {{ request.user }}.</p>
        <form method="post" class="border p-3">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary" type="submit" name="post_post">Submit</button>
        </form>
        {% endif %}
        {% for post in posts %}
            <div class="d-flex flex-row flex-inline">
              <h4>-- <a href="../home/{{ post.id }}">{{ post.title }}</a></h4>
              <h4 class="text-success px-2">< {{ post.author }} ></h4>
              {% if user.is_staff %}
                <a href="../delete_post/{{post.id}}" class="underline text-white"><button class="btn btn-danger" type="submit" name="delete_post">Delete</button></a>
              {% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="vertical-border"></div>
    <div class="p-2 w-50 h-100" id="view">
        {% if post %}
          <h1>{{ post.title }}</h1>
          <h5>Created at {{ post.created_at }}</h5>
          <p>{{ post.content }}</p>
        {% else %}
          <h1>{{ post.title }}</h1>
          <h5>Created at {{ post.created_at }}</h5>
          <p>{{ post.content }}</p>
        {% endif %}
    </div>
</div>

{% endblock content %}
