{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<nav class="navbar text-white navbar-expand-lg navbar-dark bg-dark px-2 border-bottom border-dark border-2">
  <a class="navbar-brand text-white" href="#">Letter List</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="w-100"></div>
  
  <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}" class="p-0 m-0">
      {% csrf_token %}
      <button class="btn btn-outline-light mx-2 p-1" type="submit">Logout</button>
    </form>
    {% endif %}
  </div>
</nav>
<div class="d-flex flex-row h-100 text-white">
    <div class=" p-2 m-1 w-50 h-100" style="overflow: scroll;">
        <h1>Posts</h1>
        {% if user.is_staff %}
        <p>Hi there, {{ request.user }}.</p>
        <form method="post" class="border w-100 p-3 w-50 text-white">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-secondary" type="submit">Submit</button>
        </form>
        {% endif %}
        {% for post in posts %}
            <h4>--<a href="../home/{{ post.id }}">{{ post.author }}: {{ post.title }}</a></h4>
        {% endfor %}
    </div>
    <div class="card w-50 m-1 h-100">
        {% if post %}
        <iframe class ="h-100" src="../view/{{post.id}}"></iframe>
        {% else %}
        <iframe class ="h-100" src="../view/1"></iframe>
        {% endif %}
    </div>
</div>

{% endblock content %}
